.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-primary;
  opacity: 0;
  @supports (background-blend-mode: soft-light) {
    background: $bg-primary url("../../assets/intro-bg.svg") no-repeat 50% 50%;
    background-size: contain;
    background-blend-mode: soft-light;
    // background-attachment: fixed;
  }
}

.intro h2 {
  text-align: right;
}

.intro ul {
  font: 2rem/1 $ff-heading, sans-serif;
  letter-spacing: -0.07rem;
  margin-top: 2rem;
  color: $clr-light;
  list-style-type: disclosure-closed;
}
.intro ul li {
  margin-bottom: 1rem;
}

/* Intro Animation */
.intro {
  animation: intro 2s forwards;
}
/* Intro Animation */

/* Heading Intro */
.intro .heading-intro h1 {
  transform: translate(100vw, 0);
  animation: 1s header-intro 1.8s forwards;
  color: $bg-primary;
  // text-shadow: 2px 2px #666;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.199);
}
/* Heading Intro */

/* Other Intros */
.intro h3,
.intro h2 {
  transform: translate(0, 100vh);
  animation: 1s other-intro 2.2s forwards ease-in;
  color: $bg-primary;
  font-weight: 600;
  text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.199);
}
.intro h2 {
  text-align: right;
}
.intro .highlight {
  color: $clr-light;
  // opacity: 0.7;
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.5);
}
/* Other Intros */
