.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $bg-primary;
  opacity: 0;
  @supports (background-blend-mode: soft-light) {
    background: $bg-primary url("../../assets/intro-bg.svg") no-repeat 50% 50%;
    // background-image: url("../../assets/intro-bg.svg"),
    //   radial-gradient($clr-light, $clr-dark);
    background-size: contain;
    background-blend-mode: soft-light;
  }
}

.intro h2 {
  text-align: right;
}

.intro ul {
  font: 2rem/1 $ff-heading, sans-serif;
  letter-spacing: -0.07rem;
  margin-top: 2rem;
  color: $clr-light;
  list-style-type: disclosure-closed;
}
.intro ul li {
  margin-bottom: 1rem;
}

/* Intro Animation */
.intro {
  animation: intro 2s forwards;
}
/* Intro Animation */

/* Heading Intro */
.intro .heading-intro h1 {
  transform: translate(100vw, 0);
  animation: 1s header-intro 1.8s forwards;
  color: $clr-light;
  text-shadow: -5px 5px 5px rgb(0, 0, 0);
}
/* Heading Intro */

/* Other Intros */
.intro h3,
.intro h2 {
  transform: translate(0, 100vh);
  animation: 1s other-intro 2.2s forwards ease-in;
  color: $clr-light;
  font-weight: 600;
  text-shadow: -5px 5px 5px rgb(0, 0, 0);
}
.intro h2 {
  text-align: right;
}
.intro .highlight {
  color: $clr-dark;
  text-shadow: none;
  padding: 0 0.5rem;
  font-weight: 900;
  background: $clr-light;
}
/* Other Intros */
