/* Side Navigation */
.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 12;
  transform: translate(0, -100vh);
  animation: 1s nav-intro 1.2s forwards ease-in;

  a {
    margin-bottom: 1.5rem;
    position: relative;
    display: inline-block;

    &:focus {
      outline: none;
    }

    .hover-text {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      left: 2rem;
      text-transform: capitalize;
      font-family: $ff-heading;
      color: $nav-item;
      transition: color 250ms ease-in-out;
    }

    &:hover .hover-text {
      opacity: 1;
      color: $clr-light;
    }
  }
}
/* Side Navigation */
