/*------------
    Fonts
-------------*/
@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf");
}

$ff-body: "PT Sans", sans-serif;
$ff-heading: "Orbitron", sans-serif;
$fw-normal: 400;
$fw-bold: 700;
/*------------
    Colors
-------------*/
$clr-primary-100: #91e5f6;
$clr-primary-200: #84d2f6;
$clr-primary-300: #59a5d8;
$clr-primary-400: #386fa4;
$clr-primary-500: #3d484e;
$clr-accent: #184444;
$clr-light: #fff;
$clr-dark: #000;
$nav-item: #393d4d;
$bg-primary: #0b0c10;

/*------------
    Gradients
-------------*/
// $clr-gradient: linear-gradient(-225deg, $clr-primary-200, $clr-primary-300);
